/* Custom styles that need higher specificity */
.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ff0a0a;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.75rem;
  cursor: pointer;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1.5s linear infinite;
}

.social-icon {
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out, color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.social-icon:hover {
  transform: rotateY(180deg);
  /* This is the complementary color of Tailwind's red-600 (#dc2626).
     When inverted, it will become red. */
  color: #23D9D9; /* This is a shade of Cyan/Teal */
  filter: invert(100%); /* This will invert the colors, turning #23D9D9 into #dc2626 (red) */
}

/* Ensure the text and icon don't flip independently if they are children */
.social-icon svg {
  backface-visibility: hidden;
}