@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif; /* Default font */
}
.font-pacifico {
    font-family: "Pacifico", cursive;
}
.font-inter {
    font-family: "Inter", sans-serif;
}